<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">INFOR</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="https://blog.infor.org">Blog</a>
            <a href="https://oj.infor.org">Online Judge</a>
            <a href="https://pad.infor.org">INFOR Pad</a>
            <a href="https://mail.infor.org">Email</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>