<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Theory</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/generic">Generic</a>
            <a href="/elements">Elements</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
