<!DOCTYPE HTML>
<!--
    Theory by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>INFOR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="images/favicon.ico" rel="SHORTCUT ICON">
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <%- include('header'); %>
        <!-- Banner -->
        <section id="banner">
            <h1>INFOR</h1>
            <p class="chinese">
                台北市立建國高級中學
                <br> TAIPEI MUNICIPAL CHIEN KUO HIGH SCHOOL
                <br> 資訊社
            </p>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style1 special">
            <div class="inner">
                <header>
                    <h2 class="chinese">社團宗旨</h2>
                    <p class="chinese">我們涉獵各式資訊領域也積極對外交流</p>
                </header>
                <div class="flex flex-3">
                    <div class="box spotlight">
                        <div class="image left">
                            <img src="images/class.jpg" alt="上課" />
                        </div>
                        <div class="content">
                            <div class="chinese">
                                <h3>學術交流</h3>
                                <p>
                                    建中資訊社為本校最大的社團之一，因而聚集了各種領域的專才。
                                    <br> 在專案小組或是研討會中，互相分享每個人的知識與想法，促使我們能製造出創新的成果。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box spotlight">
                        <div class="image right">
                            <img src="images/activity.jpg" alt="活動" />
                        </div>
                        <div class="content">
                            <div class="chinese">
                                <h3>社團活動</h3>
                                <p>
                                    建中資訊社與全台近百個社團結為友社，並主要與楓資及景資一起主辦活動。
                                    <br> 除了常態的聯合社課以外，還有定期的暑訓、迎新、秋遊、寒訓和春遊等大型活動。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box spotlight">
                        <div class="image left">
                            <img src="images/future.jpg" alt="未來期許" />
                        </div>
                        <div class="content">
                            <div class="chinese">
                                <h3>未來領航</h3>
                                <p>建中資訊社在全台灣至全世界佈下資訊科技的人才，我們不只侷限於僅僅一個高中的社團，更放眼至全世界最頂尖的資訊社群。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="wrapper">
            <div class="inner">
                <div class="flex flex-3">
                    <article>
                        <header>
                            <h3>C/C++</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3>Web Design</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3>Python <br/> - Machine Learning</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>
                </div>
                <div class="flex flex-3">
                    <article>
                        <header>
                            <h3>Algorithm / Data Structure</h3>
                        </header>
                        <p>演算法是資訊領域中重要的</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3>Java <br> - App Design</h3>
                        </header>
                        <p>演算法是資訊領域中重要的</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3>其他小專題</h3>
                        </header>
                        <p>平時的社課會帶大家探索更多資訊領域的相關內容</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>

                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper special style2">
            <div class="inner chinese">
                <header class="align-center">
                    <h2>各式活動</h2>
                    <p>別以為資訊社都是整天宅在家的，我們也會舉辦各種活動</p>
                </header>
                <div class="flex flex-2">
                    <article>
                        <div class="image fit">
                            <img src="images/pic01.jpg" alt="暑訓封面" />
                        </div>
                        <header>
                            <h3>暑訓—成楓望建了美景</h3>
                        </header>
                        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
                        <footer>
                            <a href="https://四校電資.camp/" class="button special">點我查看</a>
                        </footer>
                    </article>
                    <article>
                        <div class="image fit">
                            <img src="images/pic02.jpg" alt="Pic 02" />
                        </div>
                        <header>
                            <h3>迎新—十校聯合迎新</h3>
                        </header>
                        <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                        <footer>
                            <a href="#" class="button special disabled">敬請期待</a>
                        </footer>
                    </article>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; INFOR 30th. Design: <a href="https://templated.co">TEMPLATED</a>.
                    </div>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/infor30th/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="mailto:30@infor.org" class="icon fa-envelope"><span class="label">Vimeo</span></a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/main.js"></script>

</body>

</html>